$background-color: #efefef;
//
* {
    padding: 0;
    margin: 0;
}

body {
    background: $background-color;
}

.main-app-title {
    text-align: center;
}

.text-center-aligned {
    text-align: center;
}

.boldify {
    font-weight: bold;
}

.alert-total-duration span {
    background: #FFFF00;
    padding: 5px;
    border-radius: 5%;
    margin-left: 5px;
}