$background-color: #efefef;
//
* {
    padding: 0;
    margin: 0;
}

body {
    background: $background-color;
}

.main-app-title {
    text-align: center;
}

.text-center-aligned {
    text-align: center;
}

.boldify {
    font-weight: bold;
}

.alert-total-duration span {
    background: #FFFF00;
    padding: 5px;
    border-radius: 5%;
    margin-left: 5px;
}

.tooltip {
    opacity: 1;
    margin-top: 50px;
}

.wrapper-performances-bar-chart {
    text-align: center;
    margin-top: 50px;
}

.wrapper-scenario-chart-tooltip {
    background: white;
    box-shadow: 2px 2px 2px #888;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

.single-scenario-duration {
    color: red;
}

.single-scenario-file {
    color: green;
}